
body{
    width: 100%;
    background-image: url('fondo.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: scroll;
    margin-top: 5vw;   
    text-align: center;
}

.principal{
    display: inherit;
    background-color: transparent;
    width: 50%;
    max-height: 60%;
    margin-right: 75%;
    margin-left: 25%;
    margin-top: 6.5%;
}
#errores{
    margin: 0;
    background-color: red;
    border: 2 solid red;
}

#ganadas{
    background-color: green;
    border: 2 solid green;
}
#pista{
    font-family: 'Amatic SC';
    font-size: 1.5vw;

}
#peli{
    font-family: 'Shadows Into Light';
    font-size: 3.5vw;
}
h1{
    font-size: 3.5vw;
}
#errores, #ganadas{
    font-family: 'Amatic SC';
    font-size: 2.6vw;
    border-radius: 1.5vw;
    color: white;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
#quotes{
    font-size: 3.5vw;
}
#check{
    color: green;
    font-size: 2.7vw;   
}
#check2{
    color: red;
    font-size: 3vw;
}
.teclado{
    display: block;
    clear: both;
}

.tecla{
    display: inline-block;
    font-family: 'Shadows Into Light';
    color: black;
    font-size: xx-large;
    width: 8%;
    border-radius: 1.6vw;
    font-weight: 600;
    background-color: transparent;
}
.tecla:hover{
    color: white;
    background-color: black;
}

#cajaTeclado{
    margin-top: 1%;
    display: none;
}
#mostrarTeclado{
    margin-top: 2%;
    margin-bottom: 2%;
    float: left;
    border: none;
    background-color: transparent;
}
#boardIcon{
    background-color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2vw;
    height: 3vw;
    font-size: 4vw;
    padding: 0.7vw;
    font-weight: 500;    
    border: 0.5vw;
    border-right: 0.2vw outset black;
    border-bottom: 0.2vw outset black;

}
#boardIcon:hover{
    color: greenyellow;
    background-color: black;
}
#leyendaKeyboard{
    margin-top: 4%;
    font-weight: 600;
    font-size: x-large;
    font-family: 'Shadows Into Light';
}

/* MODAL */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    vertical-align: middle;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(38, 104, 7, 0.493); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: transparent;
    width: 30%;
    margin-top: 8vw;
    margin-bottom: 20vw;
    margin-left: 35vw;
    margin-right: 35vw;
  }
  